<%- include('../common/head')%>
<body>
    <header>
        <%- include('../common/header')%>
    </header>
    <main>
        <div class="conteiner">
            <div class="col col-md-12">
                <h2>about</h2>
                <p>about body</p>
            </div>
        </div>
    </main>
    <footer>
        <%- include('../common/footer')%>
    </footer>
</body>
</html>